version: "3.9"


services:

  db:
    image: postgres:14
    container_name: crypto-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 3s
      timeout: 3s
      retries: 5

  collector:
    build: ./collector-service
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_NAME: crypto
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
    restart: always
    ports:
      - "5000:5000"

  processor:
    build: ./processor-service
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_NAME: crypto
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
    restart: always
    ports:
      - "5001:5001"

  api:
    build: ./api-service
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_NAME: crypto
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
    restart: always
    ports:
      - "5002:5002"

  dashboard:
    build: ./dashboard-service
    depends_on:
      - api
    restart: always
    ports:
      - "5003:5003"

volumes:
  db_data:
